.notification {
  position: relative;
  &--list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 88px;
    right: 1.5%;

    width: 400px;
    z-index: 800;
  }
  &--item {
    min-height: 60px;
    border-radius: 40px 4px 30px 40px;
    padding: 8px;
    display: grid;
    align-items: start;
    grid-template-columns: 56px 1fr;
    gap: 8px;
    //#f5eeff
    background-color: #f6f3ff;
    color: #271d37;
    font-size: 22px;
  }
  &--p {
    overflow-wrap: anywhere; /* сучасний спосіб, ламає слово будь-де за потреби */
    word-break: break-word; /* fallback для Safari/старих браузерів */
    hyphens: auto;
  }
  &---message {
  }
  &--name {
    color: #f1e4fb;
    text-decoration: none;
    background-color: #937cd7;
    padding: 2px 8px;
    border-radius: 6px;
    display: inline-block;
  }
  &--error {
    display: grid;
    grid-template-columns: 56px 1fr;
    min-height: 40px;
    justify-content: center;
    border-radius: 40px 4px 30px 40px;
    padding: 8px 12px;
    background-color: #ff9c9c;
    color: #f04c44;
    align-items: start;
    &--img {
      width: 42px;
      height: 42px;
      margin: 2px 0;
      border-radius: 50%;
      display: block;
      border: 4px solid #f04c44;
    }
    &--p {
      overflow-wrap: anywhere; /* сучасний спосіб, ламає слово будь-де за потреби */
      word-break: break-word; /* fallback для Safari/старих браузерів */
      hyphens: auto;
      align-self: center;
      font-size: 22px;
    }
  }
  &--avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    border: 3px solid #937cd7;
  }
  &--other {
    background-color: #f8eac7;
    color: #f06830;
    .notification--error--img {
      border: 4px solid #f06830;
    }
  }
  &--btn {
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 6px;
    background-color: #ebe8ff;
    border: 1px solid #937cd7;
    color: #a695c2;
    font-weight: 600;
    font-size: 24px;
    transition: 0.3s ease;
    &:hover,
    &:active {
      background-color: #d8d1fd;
      color: #8f79bb;
      border-color: #8f79bb;
    }
  }
}

@media (min-width: 1801px) {
  .notification {
    &--list {
      top: 110px;
      width: 500px;
      font-size: 28px;
      padding: 6px 8px;
    }
  }
}
